/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  /* background by SVGBackgrounds.com */
}

.App {
  width: 350px;
  background: url("./images/bg4.jpg");
  background-position: center;
  background-size: 70%;
  background-position-y: top;
}
.App .capitalize {
  text-transform: capitalize;
  margin-top: 2rem;
}

.navBar {
  position: relative;
}

.navBar button {
  position: fixed;
  left: 40px;
  top: 40px;
  z-index: 10;
  font-size: 50rem;
}

.hamsBtn {
  margin: 1rem 0 1rem 1.5rem;
  background-color: #111A3B;
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 100px;
  color: white;
  border-width: 1px;
}

.menuNav {
  overflow-y: scroll;
  scroll-behavior: smooth;
  list-style: none;
  position: fixed;
  top: 0;
  background-color: rgba(17, 26, 59, 0.9);
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 0;
  overflow: hidden;
  max-width: 290px;
  z-index: 9;
}

.menuNav.showMenu {
  width: 100%;
}

a {
  display: block;
  padding: 10px 40px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.menuNav li:first-child {
  margin-top: 5rem;
}

.landing_container {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 50rem;
  margin: 0 auto;
  font-family: "Dancing Script", cursive;
  background-color: rgba(17, 26, 59, 0.6);
}
.landing_container p {
  font-size: 3.5rem;
  color: white;
  font-weight: 700;
  padding: 1rem 2rem;
  margin: 2rem;
  text-align: center;
}
.landing_container img {
  margin: 0 auto;
  height: 375px;
  width: 300px;
  opacity: 0.4;
  border-radius: 20rem;
}
.landing_container .landingLink {
  border-radius: 1rem;
  padding: 0.3rem;
  position: relative;
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
  margin: -35px auto;
  background-color: rgba(86, 108, 241, 0.3);
}
.landing_container .landingLink:hover {
  background-color: rgba(240, 235, 240, 0.5);
  color: black;
}

.dashboard_container {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
  font-family: "Dancing Script", cursive;
  background-color: rgba(17, 26, 59, 0.4);
}
.dashboard_container .dbIntro {
  display: flex;
  width: 280px;
  margin: 2rem auto;
  border-radius: 2rem;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.6);
}
.dashboard_container .dbIntro h2 {
  border-radius: 2rem;
  color: white;
  font-family: "Spartan", sans-serif;
  padding: 10px;
  line-height: 1.5;
  text-align: center;
  padding: 1.5rem;
  font-size: 2rem;
}
.dashboard_container .dbIntro h4 {
  border-radius: 2rem;
  color: white;
  font-family: "Spartan", sans-serif;
  padding: 10px;
  line-height: 1.5;
  text-align: center;
  padding: 1.5rem;
  font-size: 0.8rem;
}
.dashboard_container .dbIntro p {
  border-radius: 2rem;
  color: white;
  font-family: "Spartan", sans-serif;
  padding: 10px;
  line-height: 1.5;
  text-align: center;
  padding: 1.5rem;
}
.dashboard_container .dbIntro img {
  margin: 1rem auto;
  border-radius: 18rem;
  height: 150px;
  width: 150px;
  opacity: 0.8;
}

/*# sourceMappingURL=Main.css.map */
