

.dashboard_container {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    font-family: 'Dancing Script', cursive;
    background-color: rgba($color: #111A3B, $alpha: .4);

    .dbIntro {
        display: flex;
        width: 280px;
        margin: 2rem auto;
        border-radius: 2rem;
        flex-direction: column;
        background-color: rgba($color: black, $alpha: .6);

        h2 {
            border-radius: 2rem;
            color: white;
            font-family: 'Spartan', sans-serif;
            padding: 10px;
            line-height: 1.5;
            text-align: center;
            padding: 1.5rem;
            font-size: 2rem;
        }

        h4 {
            border-radius: 2rem;
            color: white;
            font-family: 'Spartan', sans-serif;
            padding: 10px;
            line-height: 1.5;
            text-align: center;
            padding: 1.5rem;
            font-size: .8rem;
        }

        p {
            border-radius: 2rem;
            color: white;
            font-family: 'Spartan', sans-serif;
            padding: 10px;
            line-height: 1.5;
            text-align: center;
            padding: 1.5rem;
        }
    
        img {
            margin: 1rem auto;
            border-radius: 18rem;
            height: 150px;
            width: 150px;
            opacity: .8;
        }
    }
}