@import "Variables";

html {
  
  /* background by SVGBackgrounds.com */
}

.App {
    width: 350px;
    background: url("./images/bg4.jpg");
    background-position: center;
    background-size: 70%;
    background-position-y: top;


  .capitalize {
    text-transform: capitalize;
    margin-top: 2rem;
  }
}